---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
  picture:string;
  joined:string;
  expiresAt:string;
  tariff:string
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData) {
  const { name, email } = userData;
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Profile">
<main class="w-full min-h-screen bg-indigo-950">
<section class="container mx-auto px-4 h-1/4 pt-4	bg-transparent text-white">
<h1 class="text-2xl mb-6 pb-5 font-bold">User profile</h1>
<div class="flex items-center">
<img src={userData.picture} width="50px" height="50px" class="py-2 pr-3">
<div class="flex flex-col mx-5">
<p class="text-md my-2"><b>Name:</b> <span class="text-white mx-2 capitalize">{userData.name}</span></p>
<p class="text-md my-2"><b>Status:</b><span class="w-10 bg-green-200 text-green-800 text-sm font-medium mr-2 mx-2 px-3 py-0.5 rounded-2xl dark:bg-green-900 dark:text-green-300">{userData.status}</span></p>
</div>
</div>
</section>

<ul class="container mx-auto px-4 my-2 bg-white rounded-lg">
  <li
    class="container mx-auto px-4 flex justify-between items-center border-b-2 border-neutral-100 border-opacity-100 py-4 text-neutral-500 dark:border-opacity-50">
    <span><b>Email:</b></span> <span class="text-gray-600 mx-2">{userData.email}</span>
  </li>
  <li
    class="container mx-auto px-4 flex justify-between items-center border-b-2 border-neutral-100 border-opacity-100 py-4 text-neutral-500 dark:border-opacity-50">
    <span><b>Join date:</b></span> <span class="text-gray-600 mx-2">{userData.joined}</span>
  </li>
  <li
    class="container mx-auto px-4 flex justify-between items-center border-b-2 border-neutral-100 border-opacity-100 py-4 text-neutral-500 dark:border-opacity-50">
    <span><b>Expiration date:</b></span> <span class="text-gray-600 mx-2">{userData.expiresAt}</span>
  </li>
    <li
    class="container mx-auto px-4 flex justify-between items-center border-b-2 border-neutral-100 border-opacity-100 py-4 text-neutral-500 dark:border-opacity-50">
    <span><b>Tariff plan:</b></span> <span class="text-gray-600 mx-2">{userData.tariff}</span>
  </li>
</ul>
<div class="container mx-auto px-4 my-4 ">
<p class="text-white text-2xl mb-4">Features</p>
<a href="/" type="button" class="text-white bg-gradient-to-r from-blue-500 flex justify-between items-center via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-5 text-center mb-2 "><span class="mx-2">Back Home</span> <svg class="w-3.5 h-3.5 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  </svg></a>

<a href="/account/dashboard" type="button" class="text-white bg-gradient-to-r from-blue-500 flex justify-between items-center via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-5 text-center mb-2 ">Dashboard<svg class="w-3.5 h-3.5 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  </svg>
</a>
</div>

</main>
</Layout>
