---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
  picture:string;
  joined:string;
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData) {
  const { name, email } = userData;
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Profile">
<main class="container mx-auto px-4 min-h-screen bg-white text-gray-800 dark:bg-gray-800 dark:text-white">
<h1 class="text-2xl mb-4 font-bold">User profile</h1>
<div class="bg-white rounded-lg px-3 py-2 shadow-lg">
<img src={userData.picture} width="50px" height="50px" class="my-2">
<p class="text-lg"><b>Name:</b> <span class="text-gray-600 mx-2">{userData.name}</span></p>
<p class="text-lg"><b>Join date:</b> <span class="text-gray-600 mx-2">{userData.joined}</span></p>
<p class="text-lg"><b>Status:</b> 
<span class="bg-green-100 text-green-800 text-xs font-medium mr-2 mx-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{userData.status}</span></p>
<p class="text-lg"><b>Email:</b> <span class="text-gray-600 mx-2">{userData.email}</span></p>
</div>




</main>
</Layout>
