---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
  profile:string;
  joined:string;
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData) {
  const { name, email } = userData;
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Profile">
<main class="container mx-auto px-4 min-h-screen">
<h1 class="text-2xl font-bold">User profile</h1>
<p class=""><b>Name:</b> {userData.name}</p>
<p class=""><b>Join data:</b> {userData.joined}</p>
<p class=""><b>Status:</b> <span class="bg-green-300 mx-2 rounded-lg py-2 px-3 font-bold"{userData.status}</span></p>
<p class=""><b>Email:</b> {userData.email}</p>
<img src={userData.profile}>

</main>
</Layout>
