---
import { app } from "../../lib/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth  } from "firebase-admin/auth";
import Layout from "../../layouts/Layout.astro";
import FooterMenu from '../../components/FooterMenu.astro'
import Card from '../../components/Card.astro'
import DashHeader from '../../components/DashHeader.astro';
import Loader from '../../components/Loader.astro';

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/account/register");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/account/register");
}


   interface User {
  name: string;
  status: number;
  email:string;
  picture:string;
  joined:string;
}

const db = getFirestore(app);
const userRef = db.collection("users").doc(user.uid)
const userSnapshot = await userRef.get();
const userData = userSnapshot.data();

if (userData) {
  const { name, email } = userData;
} else {
  // Handle the case where the user data is not available
  console.log("User data not found.");
}
---

<Layout title="Profile">
<main class="w-full min-h-screen bg-indigo-950">
<section class="container mx-auto px-4 h-1/4 pt-4	bg-transparent text-white">
<h1 class="text-2xl mb-4 font-bold flex items-center">User profile</h1>
<img src={userData.picture} width="50px" height="50px" class="py-2">
<div class="flex flex-col">
<p class="text-lg my-2"><b>Name:</b> <span class="text-white mx-2">{userData.name}</span></p>
<p class="text-lg my-2"><b>Status:</b><span class="w-10 bg-green-200 text-green-800 text-sm font-medium mr-2 mx-2 px-3 py-0.5 rounded-2xl dark:bg-green-900 dark:text-green-300">{userData.status}</span></p>
</div>
</section>

<div class="container mx-auto px-4 my-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <button aria-current="true" type="button" class="w-full px-4 py-2 font-medium text-left text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer focus:outline-none dark:bg-gray-800 dark:border-gray-600">
        <p class="text-lg my-2"><b>Join date:</b> <span class="text-gray-600 mx-2">{userData.joined}</span></p>
    </button>
    <button type="button" class="w-full px-4 py-2 font-medium text-left border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
        <p class="text-lg my-2"><b>Email:</b> <span class="text-gray-600 mx-2">{userData.email}</span></p>
    </button>
</div>



</main>
</Layout>
